@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap");

body {
  background-color: #ffffff;
}
:root {
  --color-light: transparent;
  --color-dark: #212121;
  --color-signal: #4437ff;

  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);

  --size-bezel: 0.5rem;
  --size-radius: 4px;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.4;
  color: var(--color-text);
  background: var(--color-background);
  padding: 0 calc(var(--size-bezel) * 3);
}

.input__label {
  width: 100%;
  cursor: text;
  position: absolute;
  left: 0;
  top: 0;
  padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * 0.5);
  margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * 0.5);
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  background: var(--color-background);
  transition: transform 120ms ease-in;
  font-weight: bold;
  line-height: 1.2;
}

.input__field {
  box-sizing: border-box;
  display: block;
  border: 3px solid currentColor;
  padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
  color: currentColor;
  font-size: 18px;
  font-weight: 700;
  background: transparent;
  border-radius: var(--size-radius);
}

.input__field:focus + .input__label {
  transform: translate(0.25rem, -120%);
  color: var(--color-accent);
  display: none;
}

.input__field:not(:placeholder-shown) + .input__label {
  transform: translate(0.25rem, -120%);
  color: var(--color-accent);
}

.input {
  position: relative;
}

.btn {
  width: 130px;
  height: 40px;
  font-size: 1.1em;
  cursor: pointer;
  background-color: #171717;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all 0.4s;
}

.btn:hover {
  border-radius: 5px;
  transform: translateY(-10px);
  box-shadow: 0 7px 0 -2px #f85959, 0 15px 0 -4px #39a2db,
    0 16px 10px -3px #39a2db;
}

.btn:active {
  transition: all 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 2px 0 -2px #f85959, 0 8px 0 -4px #39a2db,
    0 12px 10px -3px #39a2db;
}

.spinner {
  width: 1.5em;
  height: 1.5em;
  cursor: not-allowed;
  border-radius: 50%;
  border: 2px solid #444;
  box-shadow: -10px -10px 10px #6359f8, 0px -10px 10px 0px #9c32e2,
    10px -10px 10px #f36896, 10px 0 10px #ff0b0b, 10px 10px 10px 0px#ff5500,
    0 10px 10px 0px #ff9500, -10px 10px 10px 0px #ffb700;
  animation: rot55 0.7s linear infinite;
}

.spinnerin {
  border: 2px solid #444;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rot55 {
  to {
    transform: rotate(360deg);
  }
}

.radio-input {
  width: 100%;
  background-color: #f1f1f1;
  padding: 0px 20px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.radio-input input[type="radio"] {
  display: none;
}

.radio-input input[type="radio"] + label {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.radio-input input[type="radio"] + label span {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 0px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 44px;
}

.radio-input input[type="radio"] + label span svg {
  opacity: 0;
  transition: all 0.3s ease;
}

.radio-input input[type="radio"]#metallic + label span {
  background: url("/metallic.png");
  background-size: cover;
}
.radio-input input[type="radio"]#polygon + label span {
  background: url("/polygon.png");
  background-size: cover;
}
.radio-input input[type="radio"]#pixelated + label span {
  background: url("/pixelated.png");
  background-size: cover;
}
.radio-input input[type="radio"]#clay + label span {
  background: url("/clay.png");
  background-size: cover;
}
.radio-input input[type="radio"]#gradient + label span {
  background: url("/gradient.png");
  background-size: cover;
}
.radio-input input[type="radio"]#flat + label span {
  background: url("/flat.png");
  background-size: cover;
}
.radio-input input[type="radio"]#illustrated + label span {
  background: url("/illustrated.png");
  background-size: cover;
}
.radio-input input[type="radio"]#minimalistic + label span {
  background: url("/minimalistic.png");
  background-size: cover;
}
.radio-input input[type="radio"]#hand + label span {
  background: url("/hand-drawn.png");
  background-size: cover;
}
.radio-input input[type="radio"]#watercolor + label span {
  background: url("/watercolor.png");
  background-size: cover;
}
.radio-input input[type="radio"]#isometric + label span {
  background: url("/isometric.png");
  background-size: cover;
}
.radio-input input[type="radio"]#neon + label span {
  background: url("/neon.png");
  background-size: cover;
}
.radio-input input[type="radio"]#cartoonish + label span {
  background: url("/cartoonish.png");
  background-size: cover;
}
.radio-input input[type="radio"]#ddd + label span {
  background: url("/3d.png");
  background-size: cover;
}
.radio-input input[type="radio"]#line-art + label span {
  background: url("/line-art.png");
  background-size: cover;
}
.radio-input input[type="radio"]#pop-art + label span {
  background: url("/pop-art.png");
  background-size: cover;
}
.radio-input input[type="radio"]#doodle + label span {
  background: url("/doodle.png");
  background-size: cover;
}
.radio-input input[type="radio"]#grunge + label span {
  background: url("/grunge.png");
  background-size: cover;
}
.radio-input input[type="radio"]#sticker + label span {
  background: url("/sticker.png");
  background-size: cover;
}
.radio-input input[type="radio"]#realistic + label span {
  background: url("/realistic.png");
  background-size: cover;
}
.radio-input input[type="radio"]#mosaic + label span {
  background: url("/mosaic.png");
  background-size: cover;
}
.radio-input input[type="radio"]#origami + label span {
  background: url("/origami.png");
  background-size: cover;
}
.radio-input input[type="radio"]#chalkboard + label span {
  background: url("/chalkboard.png");
  background-size: cover;
}
.radio-input input[type="radio"]#woodcut + label span {
  background: url("/woodcut.png");
  background-size: cover;
}

.radio-input input[type="radio"]:checked + label span svg {
  opacity: 1;
  transform: scale(0.5) translate(-80px, -170px);
}

.glass {
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: 0.5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: rgb(176, 92, 255);
  border-radius: 4px;
}

#bar2 {
  transition-duration: 0.8s;
}

#bar1,
#bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

.PB-range-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: #d5dbe1;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.PB-range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000000;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.PB-range-slider::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.16);
  transition: 0.3s ease-in-out;
}

.PB-range-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000000;
  cursor: pointer;
}

.PB-range-slider-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #c6cace;
  box-shadow: 0px 1px 2px 0px #1f1e241f;
}

.PB-range-slidervalue {
  font-weight: 600;
}

.checkbox-wrapper-16 *,
.checkbox-wrapper-16 *:after,
.checkbox-wrapper-16 *:before {
  box-sizing: border-box;
}

.checkbox-wrapper-16 .checkbox-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #2260ff;
}

.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #2260ff;
  border-color: #2260ff;
  color: #fff;
  content: "✓";
}

.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-icon,
.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-label {
  color: #2260ff;
}

.checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

.checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-wrapper-16 .checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7rem;
  min-height: 7rem;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.checkbox-wrapper-16 .checkbox-tile:before {
  content: "";
  font-size: 14px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #b5bfd9;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}

.checkbox-wrapper-16 .checkbox-tile:hover {
  border-color: #2260ff;
}

.checkbox-wrapper-16 .checkbox-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-wrapper-16 .checkbox-icon {
  transition: 0.375s ease;
  color: #494949;
}

.checkbox-wrapper-16 .checkbox-icon svg {
  width: 3rem;
  height: 3rem;
}

.checkbox-wrapper-16 .checkbox-label {
  color: #181818;
  transition: 0.375s ease;
  text-align: center;
}

.loader {
  width: 200px;
  height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader_cube {
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 10px;
}

.loader_cube--glowing {
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.loader_cube--color {
  z-index: 1;
  filter: blur(4px);
  background: linear-gradient(45deg, #ffca18, #ff6f00);
  animation: loadtwo 3s ease-in-out infinite;
}

@keyframes loadtwo {
  50% {
    transform: rotate(-90deg);
  }
}
