@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #d6d6d6;
}
:root {
  --color-light: transparent;
  --color-dark: #212121;
  --color-signal: #4437ff;

  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);

  --size-bezel: 0.5rem;
  --size-radius: 4px;

  line-height: 1.4;
  color: var(--color-text);
  background: var(--color-background);
  font-weight: 300;
  padding: 0 calc(var(--size-bezel) * 3);
}

.input__label {
  cursor: text;
  position: absolute;
  left: 0;
  top: 0;
  padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * 0.5);
  margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * 0.5);
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  background: var(--color-background);
  transition: transform 120ms ease-in;
  font-weight: bold;
  line-height: 1.2;
}

.input__field {
  box-sizing: border-box;
  display: block;
  width: 550px;
  border: 3px solid currentColor;
  padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
  color: currentColor;
  font-size: 18px;
  font-weight: 700;
  background: transparent;
  border-radius: var(--size-radius);
}

.input__field:focus + .input__label {
  transform: translate(0.25rem, -120%) scale(1.1);
  color: var(--color-accent);
}

.input__field:not(:placeholder-shown) + .input__label {
  transform: translate(0.25rem, -120%) scale(1.1);
  color: var(--color-accent);
}

.input {
  position: relative;
}

.btn {
  width: 130px;
  height: 40px;
  font-size: 1.1em;
  cursor: pointer;
  background-color: #171717;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all 0.4s;
}

.btn:hover {
  border-radius: 5px;
  transform: translateY(-10px);
  box-shadow: 0 7px 0 -2px #f85959, 0 15px 0 -4px #39a2db,
    0 16px 10px -3px #39a2db;
}

.btn:active {
  transition: all 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 2px 0 -2px #f85959, 0 8px 0 -4px #39a2db,
    0 12px 10px -3px #39a2db;
}

.spinner {
  width: 1.5em;
  height: 1.5em;
  cursor: not-allowed;
  border-radius: 50%;
  border: 2px solid #444;
  box-shadow: -10px -10px 10px #6359f8, 0px -10px 10px 0px #9c32e2,
    10px -10px 10px #f36896, 10px 0 10px #ff0b0b, 10px 10px 10px 0px#ff5500,
    0 10px 10px 0px #ff9500, -10px 10px 10px 0px #ffb700;
  animation: rot55 0.7s linear infinite;
}

.spinnerin {
  border: 2px solid #444;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rot55 {
  to {
    transform: rotate(360deg);
  }
}

.radio-input {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  display: flex;
}

.radio-input input[type="radio"] {
  display: none;
}

.radio-input input[type="radio"] + label {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.radio-input input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 44px;
}

.radio-input input[type="radio"] + label span svg {
  opacity: 0;
  transition: all 0.3s ease;
}

.radio-input input[type="radio"]#red + label span {
  background-color: #cc332e;
}

.radio-input input[type="radio"]#orange + label span {
  background-color: #db7f34;
}

.radio-input input[type="radio"]#pink + label span {
  background-color: #f10fb8;
}
.radio-input input[type="radio"]#teal + label span {
  background-color: #2ecc8a;
}

.radio-input input[type="radio"]#green + label span {
  background-color: #0e7614;
}

.radio-input input[type="radio"]#blue + label span {
  background-color: #0f5ef1;
}
.radio-input input[type="radio"]#indigo + label span {
  background-color: #3533a4;
}

.radio-input input[type="radio"]#yellow + label span {
  background-color: #f4c407;
}

.radio-input input[type="radio"]#purple + label span {
  background-color: #9f3bce;
}

.radio-input input[type="radio"]:checked + label span svg {
  opacity: 1;
}

.radio-input:has(input[type="radio"]#red:checked) {
  background-color: #e92b24b2;
}

.radio-input:has(input[type="radio"]#orange:checked) {
  background-color: #db7f3498;
}

.radio-input:has(input[type="radio"]#pink:checked) {
  background-color: #f10fb869;
}
.radio-input:has(input[type="radio"]#teal:checked) {
  background-color: #2ecc8a;
}

.radio-input:has(input[type="radio"]#green:checked) {
  background-color: #0e7613cb;
}

.radio-input:has(input[type="radio"]#blue:checked) {
  background-color: #0f5ef1cd;
}
.radio-input:has(input[type="radio"]#indigo:checked) {
  background-color: #3533a4a2;
}

.radio-input:has(input[type="radio"]#yellow:checked) {
  background-color: #f4c5079e;
}

.radio-input:has(input[type="radio"]#purple:checked) {
  background-color: #8033a4bb;
}
